:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;
  --borderColor: #cfcdcdd2;
  --mainText: black;
  --secondaryText: #4b5156;
  --themeDotBorder: #24292e;
  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;
  --buttonColor: black;
  --color-purplish-blue: hsl(243, 100%, 62%);
  --color-pastel-blue: hsl(228, 100%, 84%);
  --color-light-blue: hsl(206, 94%, 87%);
  --color-alabaster: hsl(231, 100%, 99%);
  --color-square: hsla(46, 86%, 49%, 0.418);
  --color-ball: hsla(308, 86%, 49%, 0.212);
  --color-square-two: rgba(173, 189, 255, 0.281);
}
img, p, small, span{
z-index: 10;
}
* {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: 0.3s; */
}
p{
    font-size: 14px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    color: var(--secondaryText);
}
b{
    font-weight: 600;
}

li {
  list-style: none;
  margin: 20px 25px;
  color: var(--secondaryText);
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
}

li:hover {
  border-bottom: solid 3px var(--secondaryText);
  transition: 0.3s;
}

.nav ul {
  display: flex;
  justify-content: center;

  text-transform: uppercase;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 200px;
  margin: 20px 0 30px 0;
}

.first-section {
  background: linear-gradient(rgba(0, 0, 0, 0.158), white);
}

.witaj {
  display: flex;
  justify-content: center;
}
.witaj img {
  height: 550px;
  padding-right: 100px;
}

.heading{
    display: flex;
    justify-content: center;   
}
.heading span{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px;
    margin-top: 30px;
    border-bottom: solid 1px var(--secondaryText);
    color: var(--secondaryText);
}

.sec-section, .third-section, .four-section{
    background: linear-gradient(var(--color-alabaster), white);
}

.container-one{
    display: flex;
    justify-content: center;
    
}

.text-container{
    max-width: 350px;
    margin: 50px
}

.dziennikarz-img{
    margin-top: 30px;
    height:600px;
}

.container-two{
    display: flex;
    justify-content: center;
    position: relative;
    
}
.konferansjer-text-container{
    position: relative;
    z-index: 4;
    max-width: 350px;
    margin: 100px
}

.konferansjer-text-container small, .four-anime-text-container small{
    position: relative;
    left:50px;
    font-size: 13px;
    
}

.konferansjer-img{
    position: relative;
    z-index: 4;
    margin-top: 30px;
    height:600px;
    z-index: 10;

}

.square{
    background-color: var(--color-square);
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
    transform: rotate(0.13turn);
    animation: rotate 120s infinite linear;
 
}

.square-two{
  background-color: var(--color-square-two);
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 53%;


}

.rect-one{
  background-color: var(--color-square);
  width: 200px;
  height: 100px;
  position: absolute;
  z-index: 1;
  top: 70%;
  left:30%;
  /* transform: rotate(0.13turn); */
  animation: rotate 120s infinite linear;
  border-radius: 15px;
}
.rect-two{
	width: 0;
	height: 0;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-bottom: 50px solid var(--color-ball);
  position: absolute;
  z-index: 1;
  top: 2%;
  left: 70%;
  transform: rotate(0.83turn);
  animation: rotate 10s infinite linear;
}
.ball{
  background-color: var(--color-ball);
  width: 50px;
  height: 70px;
  position: absolute;
  z-index: 1;
  left: 46%;
  top: 48%;
  border-radius: 50px;
  animation: swing 1s infinite linear;

}
/* 


33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333





*/
.container-four{
  display: flex;
  justify-content: center;
}
.four-text-container{
  max-width: 350px;
  margin: 50px

}



.maciej-dronuje-img{
  margin-top: 30px;
  height:600px;
}

.container-two{
  display: flex;
  justify-content: center;
  position: relative;
  
}

.dron-image{
  width: 170px;

}

@keyframes fly {
  0% {
      transform: translateX(-1000%);

  }
  25%{
    transform: translateY(-200%);
  }

  50% {
      transform: translateX(200%) translateY(600%);

  }
  75%{
      transform: translateX(-600%) translateY(400%);;

  }
  100%{

  }
}
@media (prefers-reduced-motion: no-preference) {
  .dron-fly {
    animation-name: fly;
    animation-duration: 2s;
  }
}


@keyframes rotate{
  50%{transform: rotate(360deg);}
}

@keyframes swing{
  0% {
    top: 0%;
  }

  50% {
    top: 100%;
  }
}



@media screen and (max-width: 850px) {
    nav li {
        display: none;
    }


    .container-one {
      flex-direction: column;
      align-items: center;
    }


    .text-container{
        max-width: 100%;
        margin: 30px 50px;
    }
    .dziennikarz-img{
        object-fit:none;
        width: 500px;
        height: 570px;
        object-position: 88% 0%;
        position: relative;
        left:-46px
    }

    .dziennikarz-img-container{
        height: 400px;
        width: 500px;
        padding: 0px;
        margin:0px;

    }
    .witaj img{
        position: relative;
        left: 50px;
    }

    .container-two {
        flex-direction: column-reverse;
        align-items: center;
        position: relative;
      }
      .h-conf{
        margin-top: 200px;
      }
      .konferansjer-text-container{
        margin: 50px;
        padding: 10px;
      }
      .konferansjer-text-container small{
        /* padding:200px; */
      }
        
      .konferansjer-img{
        object-fit:none;
        width: 500px;
        height: 500px;
        object-position: 88% 0%;
        position: relative;
        left: -14px;
        top:-27px;
    }
    .konferansjer-img-container{
        height: 400px;
        width: 500px;
        padding: 0px;
        margin:0px;

    }

    .container-four {
      flex-direction: column;
      align-items: center;
    }


    .four-text-container{
        max-width: 100%;
        margin: 30px 50px;
    }
    .maciej-dronuje-img{
        object-fit:none;
        width: 500px;
        height: 370px;
        object-position: 88% 0%;
        position: relative;
        left:-46px
    }

    .video-img-container{
      margin-top: 150px;
        height: 400px;
        width: 500px;
        padding: 0px;
        margin:0px;

    }
    .dron-image{
      position: absolute;
      top: 39%;
      left:33%
    }
    .container-four{
      position: relative;
    }
    .dron-conf{
      margin-top: 100px;
    }


  }









/* Animations */
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .witaj-animation {
    animation-name: appear;
    animation-duration: 2s;
  }
}


@keyframes slidein {
    from {
        transform: translateX(-200px);
      /* width: 150%; */
      opacity: 0;
    }
  
    to {
        transform: translateX(0);
      /* width: 100%; */
      opacity:1;
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .fade-in {
      animation-name: slidein;
      animation-duration: 1.5s;
    }
  }

  /*  */

  @keyframes slideout {
    from {
      margin-left: 200%;
      /* width: 150%; */
      opacity: 0;
    }
  
    to {
      margin-left: 0;
      /* width: 100%; */
      opacity:1;
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .fade-out {
      animation-name: slideout;
      animation-duration: 3s;
    }
  }

    /*  swing */

    @keyframes swing {
        from {
          transform: rotate(0turn);
        }
      
        to {
            transform: rotate(0.5turn);
        }
      }
      
      @media (prefers-reduced-motion: no-preference) {
        .swing {
          animation-name: swing;
          animation-duration: 10s;
          animation: infinite;
        }
      }




/*       

      } */